@import url(node_modules\@fontsource\google-sans-code\index.css);

body{
    font-family:'Google Sans Code';
    background-image: url("../../public/images/background_abstract_shapes_02.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.home{
    margin: 0% 5% 0% 5%;
    background-color: rgba(75, 77, 95, 0.507);
    padding: 0;
    color: rgb(161, 161, 161);
}

.projectGrid{
    margin: 0 10% 0 10%;
}

.projectGrid ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.gridItem {
    position: relative;
    text-align: left;
    box-shadow: 0em 0em 0em black;
    transition-property: box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.gridItem:hover{
    box-shadow: 0.4em 0.5em 1em black;
    
}

.gridItem img{
    border-radius: 0.4em;
}

.gridItem h3{
    position: absolute;
    background-clip: text;
    bottom: 0;
    left: 0;
    opacity: 0%;
    color: white;
    transition-property: opacity;
    transition-duration: 0.5s;
     transition-timing-function: ease-in-out;
}

.gridItem:hover h3{
    opacity: 100%;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
    margin: 0em;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16pt;
    margin: 0em 0em 0em 3em;
}

li{
    display: inline;
    text-align: justify;
}