@import url(../../node_modules/@fontsource/google-sans-code/index.css);

body{
    font-family:'Google Sans Code';
}

.home{
    margin: 0% 10% 0% 10%;
}

.projectGrid{
    margin: 0 10% 0 10%;
}

.projectGrid ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.projectGrid li{
    border-left: 0 none;
    border-right: 0 none;
    margin: 0;
    padding: 0;
}

.gridItem {
    position: relative;
    text-align: left;
    box-shadow: 0em 0em 0em black;
    transition-property: box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.gridItem:hover{
    box-shadow: 0.4em 0.5em 1em black;
    
}

.gridItem h3{
    position: absolute;
    background-clip: text;
    bottom: 0;
    left: 0;
    opacity: 0%;
    color: white;
    transition-property: opacity;
    transition-duration: 0.5s;
     transition-timing-function: ease-in-out;
}

.gridItem:hover h3{
    opacity: 100%;
}


.aboutCover{
    margin: 5% 25% 0% 25%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
    margin: 0em;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16pt;
    margin: 0em 0em 0em 3em;
}

li{
    display: inline;
    padding: 0 1em 0 1em;
    margin: 1em;
    border-left: 1px solid;
    border-right: 1px solid ;

}